[2018-10-16 18:10] Simbadeveloper opened #8 "git flow"
# Git flow
hi,
i have problem with git flow mainly on branching and merging.

-  lets say i formed a repository
-  git clone it to my local machine

here is my question?
- explain to me after forming a develop branch how you merge other branch to the develop branch then finally to master

[2018-10-17 03:02] eddiejaoude commented on #8
- Create a branch from the `develop` branch
- Once this branch is ready to be merged into `develop`, push to GitHub and create a Pull Request on GitHub (recommended), once the Pull Request is accepted, it will be merged into `develop`
- When `develop` is ready to go into `master`, do the same as above, create a Pull Request from `develop` to `master` and once merged it will be in `master`

I hope

[2018-10-17 08:13] Simbadeveloper commented on #8
Great let me work on it.
Thanks

[2018-10-17 13:16] #8 closed

[2018-10-18 07:42] eddiejaoude commented on #8
No problem 👍

[2018-10-23 06:39] eddiejaoude opened #13 "screenshot"
<img width="467" alt="screenshot 2018-10-23 07 38 44" src="https://user-images.githubusercontent.com/624760/47340623-bbdc1000-d696-11e8-85be-dcd33c034f64.png">

[2018-10-23 06:39] #13 closed

[2019-04-08 17:51] AloiSama opened #28 "Alphabetize Contibuter List in README"
Right now the list is not in any particular order. Would be better if it was sorted, alphabetically, or otherwise.

[2019-09-02 16:18] Duk4 opened #40 "Changing repo instructions"
We don't really make new files in this repo, so it would make more sense to just write:
[code]
in the instruction section "Make changes in your repo".

[2019-10-24 13:44] jotkate commented on #28
Just pulled a request on that. Hope it's ok. Thank you.

[2019-10-24 14:41] #28 closed

[2020-08-01 10:46] mohit01-beep opened #75 "I would like to add <mohit01-beep> to the list"

[2020-08-06 06:51] #75 closed

[2020-08-06 11:26] eddiejaoude commented on #75
Did you add it to the list?

[2020-08-15 18:12] gagangaur opened #79 "you should have created this repo inside the community"
to be more exact [here](https://github.com/EddieJaoudeCommunity) 👈  :innocent:

[2020-08-15 21:05] Trimankaur opened #81 "The Hacktoberfest community member list isn't alphabetically sorted towards the end"
![image](https://user-images.githubusercontent.com/29235241/90321628-2267a780-df69-11ea-80f1-936e6ab63c3e.png)

[2020-08-15 23:17] eddiejaoude commented on #79
Yes I should probably move it 👍

[2020-08-15 23:21] eddiejaoude commented on #81
Thank you for raising the issue 👍

[2020-08-15 23:22] eddiejaoude opened #82 "GitHub Action to sort users Alphabetically"
Move users to a json file and create README each time alphabetically

[2020-08-15 23:23] eddiejaoude commented on #79
It is now transferred 👍

[2020-08-15 23:23] #79 closed

[2020-08-16 11:33] gagangaur commented on #82
please resolve this issue on livestream or may be you can put up a video for it thanks 😇

[2020-08-16 11:49] eddiejaoude commented on #82
Sure, I am working on this video now 👍

[2020-08-16 17:20] gagangaur opened #86 "missing a command in readme.md"
A command `cd  hacktoberfest-practice`  is missing in readme in order to make further commands execute successfully.

[2020-08-16 18:35] eddiejaoude commented on #86
thank you 👍

[2020-08-16 19:45] #86 closed

[2020-08-17 07:28] Kundan28 commented on #81
Hey there, I would like to work on this issue.

[2020-08-17 08:42] eddiejaoude commented on #81
Sure, assigned to you @Kundan28 🤓

[2020-08-18 04:12] Kundan28 commented on #81
@eddiejaoude I've made the PR to fix this issue, please have a look.

[2020-08-18 12:54] eddiejaoude opened #89 "Add YouTube video to README for people to understand hacktoberfest"
https://www.youtube.com/watch?v=XFLlakeNO10

[2020-08-19 07:52] eddiejaoude commented on #81
thanks @Kundan28 👍 , looks good.

There have been some new additions since, are you able to update your PR?

[2020-08-19 11:00] Kundan28 commented on #81
I've made the changes, please have a look.

[2020-08-19 13:53] mohit01-beep opened #96 "How can i be part of hacktoberfest, my name is not on the list and it says just add your name to the end of list"

[2020-08-19 15:10] BhuvaneshHingal commented on #96
That is what you have to do @mohit01-beep. You have to add your name at the end of the list and make a **Pull Request** to @eddiejaoude by editing the README.md file. If everything seems well he'll be accepting your **Pull Request**. Details regarding the same are already given in the README.md file. Follow those steps and try to do the thing. If you need any further help just post it here.

[2020-08-19 15:18] BhuvaneshHingal commented on #96
For more details about how to take part in Hacktoberfest watch this video: (https://youtu.be/XFLlakeNO10)

[2020-08-19 21:12] #81 closed

[2020-08-19 21:30] eddiejaoude commented on #96
Thanks @BhuvaneshHingal 👍

[2020-08-19 21:33] #89 closed

[2020-08-20 13:47] mohit01-beep commented on #96
Thanks @BhuvaneshHingal finally, i added my name on the list

[2020-08-20 13:47] #96 closed

[2020-08-21 08:13] eddiejaoude commented on #96
@mohit01-beep also sign up to their official newsletter too https://hacktoberfest.digitalocean.com

I will be doing lots of live stream from mid September and through October

[2020-08-21 13:40] eddiejaoude opened #104 "Update docs to mention alphabetically"
Thanks @mohit01-beep for making me realise the docs were not up to date.

@mohit01-beep can you review my changes please https://github.com/EddieJaoudeCommunity/hacktoberfest-practice/pull/105

[2020-08-21 18:28] #104 closed, assigned to nobody

[2020-09-01 17:39] eddiejaoude opened #115 "Manually sort names in the list"
The last 2 names are not alphabetical, slot them in the right location

[2020-09-10 10:24] Siddhant-K-code commented on #82
video up?

[2020-09-10 11:27] eddiejaoude commented on #82
@Siddhant-K-code I have posted a GitHub Actions video last week https://youtu.be/5ncuRFwnrdc

I will do a live stream on this specific Issue next week 🤓

[2020-09-11 06:28] ThatOneTallKid opened #136 "Add Community Github Actions for this repo"
Community Github Actions are required to be added to this repo

[2020-09-11 06:50] #136 closed

[2020-09-11 06:50] eddiejaoude opened #138 "test issue"

[2020-09-11 06:51] #138 closed

[2020-09-11 06:51] eddiejaoude opened #139 "GitHub Action does not run as in the wrong folder"
Currently `workflow`

Should be `workflows`

[2020-09-11 06:58] ThatOneTallKid commented on #139
ok, doing

[2020-09-11 06:59] eddiejaoude commented on #139
Ok great, I assigned this issue to you 🤓

[2020-09-11 07:00] jomefavourite commented on #139
Oh, I'm too late

[2020-09-11 07:02] eddiejaoude commented on #139
Don't worry there is always more 🤓

@jomefavourite . Other repos in our community need the same GitHub Action being applied, if you want to do one of the repos?

[2020-09-11 07:03] jomefavourite commented on #139
I'll love too

[2020-09-11 07:24] eddiejaoude commented on #139
Awesome, do it 👍 . Any questions let us know 🤓

Some repos in our community Organisation have the Issue and GitHub Action already and some just have the Issue, if you could check first - there are definitely repos missing both too

[2020-09-11 07:42] jomefavourite commented on #139
I think I've gone through all 10 repos, but no issue like that. @eddiejaoude

[2020-09-11 07:50] ThatOneTallKid commented on #139
Eddie is that red mark still coming

[2020-09-11 08:44] eddiejaoude commented on #139
You can check in your pull request under files changed

[2020-09-11 08:52] eddiejaoude commented on #139
@jomefavourite some repos do have it but might be already closed if the work has been done already, for example, it is done on:

- `gh-action-community` repo you can see the work here https://github.com/EddieJaoudeCommunity/gh-action-community/blob/develop/.github/workflows/community.yml
- `hacktoberfest-practice` repo you can see the work here (bug with path name, PR opened to fix it) https://git

[2020-09-11 08:54] #139 closed

[2020-09-11 08:57] eddiejaoude opened #141 "test"

[2020-09-11 08:59] #141 closed

[2020-09-15 14:02] sbdeepu09 opened #150 "Add stale action"

[2020-09-15 14:19] vamsi963601 opened #153 "Kfxkgdkyydkddtk"

[2020-09-15 14:20] sbdeepu09 opened #154 "khjjaksbfjklfbja f;jdfdnfkdfdmfl.....OPENSOURCE IS LOVE"

[2020-09-15 14:20] ABSphreak opened #155 "THIS IS A CRAZY ISSUE"
wae;orgfjhgfjherwoipqafqafnnewoacndmojsapnvcoieurdrwanwangfoiruepepwdanwanfreiuoaqqnfnfrepwl;pawl;a

Hi Eddie.

[2020-09-15 14:20] jomefavourite opened #156 "How are you edie?"

[2020-09-15 14:21] eddiejaoude commented on #153
Thank you for the test issue

[2020-09-15 14:21] #153 closed

[2020-09-15 14:21] eddiejaoude commented on #154
thank you for the test issue 👍

[2020-09-15 14:21] #154 closed

[2020-09-15 14:22] eddiejaoude commented on #155
thank you for the test issue 👍

[2020-09-15 14:22] #155 closed

[2020-09-15 14:22] eddiejaoude commented on #156
Awesome thank you @jomefavourite 👍 . How are you?

[2020-09-15 14:22] #156 closed

[2020-09-15 14:22] Jin-Xu opened #157 "This is an issue that does not make any sense but here it is anyway"
Cowabunga!

[2020-09-15 14:22] eddiejaoude commented on #157
thank you for the test issue 👍

[2020-09-15 14:22] #157 closed

[2020-09-15 14:29] jomefavourite commented on #156
I'm fine 🙂

[2020-09-15 22:53] #150 closed

[2020-09-16 06:56] eddiejaoude commented on #40
This has been merged

[2020-09-16 06:56] #40 closed

[2020-09-17 03:56] NirmalSilwal opened #164 "Why is there no release in this project?"
How about making a **initial release** of project?

[2020-09-17 09:37] eddiejaoude commented on #164
thank you @NirmalSilwal 👍 . I will create one manually now 👍 . But we could have a new Issue to automate this on a GitHub Action

[2020-09-17 09:37] eddiejaoude commented on #164
https://github.com/EddieJaoudeCommunity/hacktoberfest-practice/releases/tag/v0.1

[2020-09-17 09:37] #164 closed

[2020-09-17 09:43] mikeysan opened #165 "github action to create a release"
This is dependent on issue #82, after a successful build, run a github action to create a release.

[2020-09-18 02:18] NirmalSilwal commented on #164
sounds good @eddiejaoude

[2020-09-23 05:00] mallikarjunht1997 commented on #82
i wrote a python script to read the file and return me a list.

[2020-09-23 05:08] mallikarjunht1997 commented on #82
I wrote *python code* to return a list and got this output. i need to ***remove '-' *** from the list and then perform ***sort*** can any one >help me, Thank you  here is my output ```['-',` 'pradeep', 'kumar'], ['-', 'pvash1070091'], ['-', 'raddd'], ['-', 'radekcz'], ['-', 'rahul123@'], ['-', 'raj', 'chordai'], ['-', 'raj', 'chordia'], ['-', 'ram964'], ['-', 'raymen'], ['-', 'rewint'], ['-', 'rob

[2020-09-23 05:14] Siddhant-K-code commented on #82
@mallikarjunht1997 can you share your code of this, i think i can help in this.

[2020-09-23 05:28] mallikarjunht1997 commented on #82
[code]

[2020-09-23 05:58] Siddhant-K-code commented on #82
what if we print all things in a new line \n ?

[2020-09-23 06:19] mallikarjunht1997 commented on #82
we can do that, just need to remove `-` from the list so that we can sort the list and write to the file with `[name](link)` fashion

[2020-09-23 09:27] eddiejaoude commented on #82
@AllanRegush has created a GitHub Action for this, it is almost ready, just need to fix 1 last bug. @AllanRegush do you want to share a link to the repo?

[2020-09-23 10:41] mallikarjunht1997 commented on #82
I did it in python and used actions to complete
Happy to hear from you
[workflow log](https://github.com/mallikarjunht1997/first-contributions/runs/1154357040?check_suite_focus=true)
[here is my repo](https://github.com/mallikarjunht1997/first-contributions)
![sortedlist](https://user-images.githubusercontent.com/40291553/94002248-4794d480-fdb7-11ea-9845-46d3b0811c85.png)
![workflow_run](https://u

[2020-09-23 10:46] eddiejaoude commented on #82
Looks good 👍 - I would add some more information about it in the `README.md`

[2020-09-23 22:38] AllanRegush commented on #82
https://github.com/AllanRegush/gh-actions-sort-markdown-links

[2020-09-23 22:55] AllanRegush commented on #82
@eddiejaoude here is the bug i found. Otherwise this is good to go.
https://github.com/JasonEtco/readme-box/issues/9

[2020-09-24 00:23] AllanRegush commented on #82
:) https://github.com/EddieJaoudeCommunity/hacktoberfest-practice/runs/1157925370?check_suite_focus=true

[2020-09-24 21:56] eddiejaoude commented on #82
Awesome @AllanRegush 👍 .

Can you raise a pull request?

[2020-09-25 04:27] AkshayaKulasekaran opened #200 "Broken Video Image"
The video image isn't visible
![image](https://user-images.githubusercontent.com/61582763/94226483-5396a880-ff15-11ea-8217-effffbfa97fd.png)

[2020-09-25 04:31] AkshayaKulasekaran commented on #200
I'd like to replace it with the following img:
![image](https://user-images.githubusercontent.com/61582763/94226800-1d0d5d80-ff16-11ea-8097-689ec7b5af69.png)

[2020-09-25 07:29] eddiejaoude commented on #200
Oh great idea, thank you @AkshayaKulasekaran 👍

[2020-09-25 10:40] amanpro1 commented on #200
This issue has already been fixed in PR #210. This issue should be closed shortly.

[2020-09-25 10:41] amanpro1 commented on #200
Issue fixed in PR #201 . This will be closed .

[2020-09-25 19:07] AkshayaKulasekaran commented on #200
Awesome!

[2020-09-25 19:07] #200 closed

[2020-09-26 06:52] sbdeepu09 opened #205 "It would be better if the youtube video is opened in a new tab,when clicked on the poster in the readme ."

[2020-09-26 09:25] eddiejaoude commented on #205
Good idea @sbdeepu09 👍 .

I think the image can be converted to `html` and the property `target="_blank"` can be added to the `a` tag to open in a new tab.

[2020-09-26 10:41] sbdeepu09 commented on #205
I converted it to html and tried setting target="blank"  but it did not work. Unfortunately here is what i found on internet.
Any HTML that is inserted into Markdown to be displayed on a GitHub page is sanitized to prevent security problems. The target attribute on the a tag is one of those items that gets stripped out. Unfortunately, there isn’t a solution for this.

I think this issue has no sol

[2020-09-26 10:41] #205 closed

[2020-09-26 13:22] eddiejaoude commented on #205
Oh ok 😞  - we could add writing to say "recommended to open in a new tab by right clicking or something similar

[2020-09-29 12:01] jomefavourite commented on #115
I'll do this

[2020-09-30 07:13] eddiejaoude commented on #115
Thanks @jomefavourite 👍

[2020-09-30 07:35] jomefavourite commented on #115
I've done it already @eddiejaoude waiting for it to be merged

[2020-09-30 07:41] eddiejaoude commented on #115
I saw the notification and left a comment

[2020-09-30 09:56] #115 closed

[2020-11-17 18:39] eddiejaoude commented on #165
We still want this Stalebot 🤓

[2020-12-02 12:39] adityaraute opened #236 "Unknown Workflow Error"
I received a notification for a workflow issue tagged as #271 for the file `.github/workflows/community.yml` under the Actions tab.

I am new to this community and do not entirely understand the meaning of this issue. It happened after I reviewed a PR #233. However, I am not sure if both issues are related or not.

Would appreciate some help from the community, and any guidance for this to not occ

[2020-12-02 13:05] Vyvy-vi commented on #236
Oh there's an open issue for this...
The workflow has a slight error. It doesn't work for `forks`, since they lack access to the repo's secrets

[2020-12-02 13:12] dumbcoder7 commented on #236
Okay, thanks.

[2020-12-05 22:01] eddiejaoude commented on #236
Thanks for raising @dumbcoder7 👍 and sorry for the confusion.

Thanks @Vyvy-vi for replying. There is a fix for this now available by GitHub, I think we need to change the config a little bit to benefit from it

[2020-12-06 14:11] Vyvy-vi commented on #236
potential fix: https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#pull-request-events-for-forked-repositories

[2020-12-08 10:55] eddiejaoude commented on #236
@Vyvy-vi yes I think you are right 👍 . Let's try it 🤓

[2020-12-21 07:38] eddiejaoude opened #250 "Rename default branch from main to master"

[2020-12-21 07:41] eddiejaoude commented on #250
<img width="995" alt="Screenshot 2020-12-21 at 07 41 31" src="https://user-images.githubusercontent.com/624760/102751589-fa95af80-435f-11eb-85a2-682ca6923414.png">

[2020-12-21 07:41] #250 closed

[2021-01-08 14:32] dumbcoder7 commented on #82
Is this gonna happen? I wish I knew how to do it but I don't yet.

[2021-01-14 14:34] dumbcoder7 commented on #165
Wait, I am not sure I understand. You are proposing a release every time a PR is merged? That would be so many releases. Why would we need that?

Perhaps,  I don't completely understand.

[2021-01-15 14:17] eddiejaoude commented on #82
@dumbcoder7 I think this can be closed, as it is done in PR https://github.com/EddieJaoudeCommunity/hacktoberfest-practice/pull/175

Thank you for the nudge, I really appreciate it 👍

[2021-01-15 14:17] #82 closed

[2021-01-30 23:12] eddiejaoude commented on #165
@adityaraute it is good to have build releases, for example increment the `X` on the release version `0.0.X` each time

[2021-01-31 08:13] adityaraute commented on #165
Every time we push a commit?

[2021-01-31 14:28] eddiejaoude commented on #165
ideally each commit push should be deployable - in the perfect situation, which is not always the case. I think when people realise a potential release is created they try to push better commits or group commits together and do not push then until ready - so really it is on each push not necessarily each commit

[2021-01-31 15:37] adityaraute commented on #165
I did mean each push, yes. That would be too many releases, though. Wouldn't it?

[2021-01-31 15:50] eddiejaoude commented on #165
there would be a lot, but these would be build releases - each project is slightly different. It can also be done when merged to the default branch this will reduce the releases because they would have had to be reviewed first

[2021-02-20 06:28] longqua69 opened #277 "Help me to fix link"
Hello,

I made a PR and I figured this link is dead.

When I click on this link, it point to https://github.com/EddieJaoudeCommunity instead of https://github.com/EddieHubCommunity

At present, I don't know how to fix it? how it operates? ...? My web development knowledge is limited now and I'm working on it. So I raise an issue. Would you please fix the link or let me know how to fix.

Thanks

![

[2021-02-21 06:10] adityaraute commented on #236
I'm going to reopen this issue, cuz the issue still persists.

[2021-02-24 10:13] adityaraute commented on #277
Great spot! You need to go to the action that is triggered whenever an Issue or PR is created. In that action spot the message, and the link will be there. Lemme know how it goes.

[2021-02-24 14:22] eddiejaoude commented on #277
Thank you for raising this issue 👍

I think this link has been fixed in the `gh-action-community` repo where most of the Action code exists. I did not deploy it yet, let me deploy it now.

But there are also other things that need updating too... it is possible to search our Org repos for `EddieJaoudeCommunity`, for example on this repo https://github.com/EddieHubCommunity/hacktoberfest-practice/s

[2021-02-24 14:22] eddiejaoude commented on #277
I deployed the code, let's create a new test issue and see if it works 🤓  https://github.com/EddieHubCommunity/gh-action-community/pull/71

[2021-02-24 14:22] eddiejaoude opened #282 "test"

[2021-02-24 14:24] #282 closed

[2021-02-24 14:26] eddiejaoude opened #283 "test"

[2021-02-24 14:27] #283 closed

[2021-02-24 14:27] eddiejaoude opened #284 "test"

[2021-02-24 14:28] #284 closed

[2021-02-24 14:29] eddiejaoude commented on #277
I think I fixed it https://github.com/EddieHubCommunity/hacktoberfest-practice/issues/284. Feel free to raise a test issue and check.

But this will now need fixing in all our Org repos, here are the changes I made to use the updated Action https://github.com/EddieHubCommunity/hacktoberfest-practice/blob/main/.github/workflows/community.yml

Any questions let me know.

[2021-02-24 17:00] longqua69 commented on #277
Hi @adityaraute, Thanks for your instruction. Now, I know how it works. Let me explore more about it.

Hi @eddiejaoude, Thanks for helping me to fix this issue.

I think this kind of issue occurs when we rename the repository. I think there are 2 ways to prevent such kind of issue:

_ The first one: I've not known if there's any feature to make the referenced link change automatically (just like t

[2021-02-27 12:58] eddiejaoude commented on #236
thanks @adityaraute 👍

[2021-02-27 14:58] adityaraute commented on #236
Somebody please solve this. I am not skilled in this area sadly.

@Vyvy-vi did you try your fix, pal?

[2021-03-02 13:01] eddiejaoude commented on #277
This type of change does not usually happen, so I think it is not worth worrying too much about.

Another alternative would have been to use sub domains that redirect as these would change, for example we have

- discord.eddiehub.org
- github.eddiehub.org
...

I will close this issue for now. Thanks again for highlighting this issue 👍

[2021-03-02 13:01] #277 closed

[2021-03-03 11:52] Vyvy-vi commented on #236
I'll look into it :+1:

[2021-03-03 11:59] Vyvy-vi commented on #236
https://github.community/t/make-secrets-available-to-builds-of-forks/16166
https://github.community/t/allow-secrets-to-be-shared-with-forks-from-trusted-actions/16525

[2021-03-03 12:00] Vyvy-vi commented on #236
Looks like a github issue

[2021-03-03 15:01] adityaraute commented on #236
But if GITHUB_TOKEN secret does not raise errors, why does this one do?

[2021-03-03 15:10] Vyvy-vi commented on #236
FIREBASE_KEY

[2021-03-03 15:11] Vyvy-vi commented on #236
The forked repo doesn't have the firebase secret

[2021-03-09 16:19] srinath1412001 opened #299 "Edit a name in the README to maintain uniformity"
![issue](https://user-images.githubusercontent.com/47494475/110502126-ebcdc600-8120-11eb-9a2f-1a768c9973f8.jpg)
The above marked name has an emoji after it. It would be better to remove the emoji (✨) to maintain uniformity.

[2021-03-12 10:08] eddiejaoude commented on #236
I think it would be best to not have the action run on forks, let me try a fix now

[2021-03-12 10:13] eddiejaoude commented on #236
Can you try to update your fork and now the GitHub Action should not run for the fork

[2021-03-12 10:13] eddiejaoude commented on #236
if this works, this condition should be added to all our community repos

[2021-03-12 14:04] adityaraute commented on #236
Do I just review a PR like I have did here?

[2021-03-12 14:07] adityaraute commented on #236
![image](https://user-images.githubusercontent.com/43912470/110950881-65a4c000-836a-11eb-82e5-419c57f47bf3.png)
I reviewed a PR on this repo ( #297 ) error still persists.

[2021-03-12 14:09] adityaraute commented on #299
Fair idea. @Abiola-Farounbi please make the necessary changes, if you please.

[2021-03-12 15:04] Abiola-Farounbi commented on #299
Ok, I Will do that

[2021-03-14 17:27] #299 closed

[2021-03-20 20:27] eddiejaoude commented on #236
I think it will need to be merged and the fork updated for it to be tested properly

[2021-03-21 10:32] adityaraute commented on #236
Perhaps not. I am confused.

[2021-03-31 16:34] ankan1811 opened #317 "eddiehub is awesome"

[2021-04-02 15:54] yash22arora opened #319 "add me"

[2021-04-07 20:28] eddiejaoude commented on #236
We can see if anyone else reports it

[2021-04-09 05:56] Vyvy-vi commented on #236
I think there was a second discussion for this and there was a consensus on stopping the community action, if running on forks

[2021-04-10 01:53] #165 closed

[2021-04-10 07:50] adityaraute commented on #165
We not doing this then?

[2021-04-11 09:06] eddiejaoude commented on #317
Thank you @ankan1811 🎉

[2021-04-14 17:57] adityaraute commented on #319
Please be more descriptive. What is it that you wish to be added into?

[2021-04-26 09:35] srinath1412001 opened #328 "Make changes in README, instructing newcomers to use appropriate commit/PR names."
![issue](https://user-images.githubusercontent.com/47494475/116029715-85244d80-a677-11eb-8d36-291b45c48837.jpg)
I have noticed a lot of PRs with 'intial commit' as PR title. I feel its because we have instructed it that way in our README section.
Maybe we need to make changes in the README.

_Originally posted by @srinath1412001 in https://github.com/EddieHubCommunity/hacktoberfest-practice/issues

[2021-04-26 09:49] schmelto commented on #328
Think this is a good idea. May we can change from "initial commit" to "add your-github-username". What about using conventional commit messages with prefix `fix:` so new contributors learn about this standard. Maybe referring to www.conventionalcommits.org

[2021-04-26 14:01] srinath1412001 commented on #328
Sounds good!

[2021-05-06 22:31] eddiejaoude commented on #319
Thanks @adityaraute 👍 I am going to close this issue. @yash22arora feel free to open a new issue with more information

[2021-05-06 22:31] #319 closed

[2021-05-08 09:12] adityaraute commented on #328
Using `fix:` might not be a good idea here, because this is not really a fix. It is indeed their `initial commit`.

Perhaps something like `First commit by <enter-username-here>` might be a good way?

[2021-05-08 09:59] coolAryan commented on #328
Using `fix:` would definitely help new contributors as they would get an idea how things actually work,that is before creating a pull request,if an issue is been created and then in pull request if the fix is being referred (to that issue) that would be a good practice for the ones who are new to open source.

[2021-05-08 10:14] schmelto commented on #328
Yeah think you are right. Due it's poabably for all Contributer adding there name here their first contribution we should avoid overwhelming them with conventional commits (I've mentioned before).

[2021-05-21 12:23] Umesh-01 commented on #328
Is there anyone who is working on this or done with this issue??

[2021-05-21 12:25] adityaraute commented on #328
I don't see any PR. Wait till tonight, for an update else maybe start working on it. Won't be a big change.

[2021-05-21 12:28] Umesh-01 commented on #328
should I make a PR for this issue??
like fixes issue-no @adityaraute

[2021-05-21 12:38] adityaraute commented on #328
Yes proceed with it.

[2021-05-21 12:51] Umesh-01 commented on #328
@adityaraute, review PR #343

[2021-05-23 18:20] Umesh-01 commented on #328
@adityaraute can u tell me how to review the code of other people??
like u do...

[2021-05-23 18:31] starlightknown commented on #328
If you go to a PR and then check the files, you can spot the changes since GitHub highlights them as red and green, if you feel the changes are good then there's a review button above, you can click on it and approve the changes but if you are not satisfied with the changes and want to suggest then you will find plus icon in starting of each line, click it and you can comment there asking them to

[2021-05-25 07:46] Umesh-01 commented on #328
Okk got it, Thanks... 🙂 @starlightknown

[2021-06-02 09:07] abhinavsaraswatt opened #355 "Abhinav Vedmala name is not alphabetical arranged in list"

[2021-06-06 07:24] Vyvy-vi commented on #328
closed by #343 acd7683

[2021-06-06 07:24] #328 closed

[2021-06-06 15:49] Vyvy-vi commented on #355
I think this was closed by #354

[2021-06-06 15:49] #355 closed

[2021-06-07 02:08] abhinavsaraswatt commented on #355
"Abhinav Vedmala" didn't settled alphabetically

[2021-06-07 02:10] abhinavsaraswatt opened #358 ""Abhinav Vedmala" name is not alphabetical arranged in list"

[2021-06-07 03:37] kaiwalyakoparkar commented on #358
Thank you very much for this issue. We would really appreciate it if you do the following
- Add more context/description to your issue
- Add screenshots to represent your issue
- Mention the particular (This issue in this case) issue in the PR so that when the PR gets merged the issue gets closed too.

Anyways the PR is merged now! Thanks for your valuable contribution. Hope to see many more contr

[2021-06-07 03:37] #358 closed

[2021-06-17 02:18] #236 closed

[2021-06-25 18:25] kaiwalyakoparkar opened #367 "[DOC] Contributing steps needs to be changed"
## Problem
- The contribution guidelines related to GitHub seem to no longer work as a new update of GitHub has been rolled out. The procedures according to the new update need to be added to help beginners contribute efficiently.

[2021-06-26 18:56] schmelto commented on #367
do you mean this step here?
![image](https://user-images.githubusercontent.com/30869493/123522935-f35dae80-d6c0-11eb-9b01-af06d2ce704d.png)

[2021-06-27 10:10] #367 closed

[2021-06-27 10:58] schmelto opened #369 "Discussion: adding headings for the contributors list"
What about adding headings like A, B, C,... X, Y, Z in the contributors list / list where new people add their self.

[2021-06-27 13:54] kaiwalyakoparkar commented on #369
That is awesome idea and a beginners issue as well

[2021-06-27 15:43] ish-u commented on #369
Can I work on this issue ?

[2021-06-27 15:45] kaiwalyakoparkar commented on #369
Sure @ish-u Go for it. I will assign it to you. Let us know for any help.

[2021-06-28 06:20] #369 closed

[2021-06-28 06:23] schmelto opened #371 "Remove GitHub statistics action from Community.yml"
![image](https://user-images.githubusercontent.com/30869493/123589775-ff915b00-d7e9-11eb-994d-b8c3101dd595.png)

https://github.com/EddieHubCommunity/hacktoberfest-practice/runs/2926472813

see also in PR #370

# **this issue is for first timers only**

In the
https://www.github.com/EddieHubCommunity/hacktoberfest-practice/tree/main/.github%2Fworkflows%2Fcommunity.yml

remove the statistics workfl

[2021-06-28 10:04] eddiejaoude commented on #371
I think we should remove this Action for now, as we are in the process of moving away from Firebase to DataStax's AstraDB. Could be a good first issue for someone to delete the Action being used in this repo

[2021-06-28 12:08] #371 closed

[2021-08-08 16:17] schmelto opened #418 "Move text into steps"
Move text

[code]

Above in the step to step guide

[2021-08-08 17:16] AvidCoder101 commented on #418
I will raise a PR @schmelto

[2021-08-08 17:23] AvidCoder101 commented on #418
@schmelto made a pull request for this.

[2021-08-08 19:08] #418 closed

[2021-08-24 18:08] aman34503 opened #440 "update readme.md"

[2021-08-24 18:08] #440 closed

[2021-09-10 16:34] sheisAman opened #520 "Not able to add my name"
Although i forked the repository and added my name to Readme, even generated a pull request, but yet i couldnt see my name in the original list:(

[2021-09-10 16:42] Panquesito7 commented on #520
Hey there! Once your pull request is merged, you will see your name in the original list. I hope that helps. 😄

[2021-09-10 18:02] sheisAman commented on #520
thanks alot:)

[2021-09-10 18:02] #520 closed

[2021-09-25 20:36] Neeteshking21 opened #606 "[Include]: Add Neetesh Kumar Sharma to the list"
# Add a new member to the community.

[2021-09-26 06:34] aniket-24 opened #609 "[Include]: Add Aniket Kumar to the list"
Add a new member to the community

[2021-09-26 10:10] aspiringananya opened #612 "Add a new member to the community"
Below PR raised for the Issue

#611

[2021-09-26 11:07] #612 closed

[2021-09-26 14:35] #609 closed

[2021-09-27 13:51] atharva0300 opened #620 "#607 Add Atharva Pingale to the list"

[2021-09-27 13:52] #620 closed

[2021-09-28 16:23] Moeen-Ul-Islam commented on #606
@Neeteshking21 are you facing any issues ?

[2021-09-28 16:32] #606 closed

[2021-09-28 17:12] CodingSpecies opened #629 "Hacktoberfest."
I just wanted to ask whether EddieHub Community is part of the hacktoberfest this year, and how to access repos that are. Thank you.

[2021-09-28 17:19] Panquesito7 commented on #629
Overall, yes, I think EddieHub is participating in Hacktoberfest this year. I think these are the repositories that are participating in Hacktoberfest. https://github.com/search?q=topic%3Ahacktoberfest+org%3AEddieHubCommunity+fork%3Atrue

This repository isn't participating in Hacktoberfest as it would give users free swags very easily. The point of this repository is to practice before Hacktoberf

[2021-09-28 17:30] CodingSpecies commented on #629
Yes, I see how this is a hacktoberfest practice, thank you @Panquesito7

[2021-09-28 17:30] #629 closed

[2021-10-01 16:56] adarshpnd71 opened #680 "I am new to opensource can you please assign me some begginer friendly issue ............."

[2021-10-01 16:59] schmelto commented on #680
you can take a look at our repos and search for the label `good first issue` and comment there that you want to get assigned there.

[2021-10-01 16:59] #680 closed

[2021-10-01 17:00] schmelto commented on #680
Maybe some more thougts on this. its easier for you and us when you search by your own for issues you want to resolve due you know how experienced you are

[2021-10-01 17:16] CodingSpecies commented on #680
Here is a list of repos in EddieHub that have issues @adarshpnd71 :

- https://github.com/EddieHubCommunity/LinkFree
- https://github.com/EddieHubCommunity/.github/issues
- https://github.com/EddieHubCommunity/awesome-github-profiles/issues
- https://github.com/EddieHubCommunity/support/issues
- https://github.com/EddieHubCommunity/EddieBot/issues
- https://github.com/EddieHubCommunity/EddieBotUI/

[2021-10-01 17:18] schmelto commented on #680
@CodingSpecies nice ! thanks

[2021-10-03 02:14] Panquesito7 opened #704 "Fix missing colon in name"
1. Go to the `README.md` file.
2. Go to line 538 and replace that line with the following code:
[code]

[2021-10-03 09:16] krishguptadev commented on #704
Can I fix this?

[2021-10-03 14:19] Panquesito7 commented on #704
I think someone has already worked on this. 😅

[2021-10-03 14:27] krishguptadev commented on #704
I do not see any assignee or linked pulls?

[2021-10-07 07:37] mohitahlawat2001 commented on #704
i want to work on issue

[2021-11-28 05:54] Panquesito7 opened #774 "[BUG] Use HTTPS for the CoC (Code of Conduct) link"
1. Go to the [contributing file](https://github.com/EddieHubCommunity/hacktoberfest-practice/blob/main/CONTRIBUTING.md).
2. Follow the steps mentioned there.
3. In that file, in like 4, change the whole content of that line to:

[code]

Let us know if you need any help! 😄

[2021-11-28 19:05] #774 closed

[2021-12-16 17:02] Panquesito7 opened #787 "Add pull request and issue templates"

[2021-12-22 07:42] Karan11000 commented on #787
Hello

[2021-12-22 07:43] Karan11000 commented on #787
Can I contribute on this issue

[2021-12-22 08:45] schmelto commented on #787
sure

[2021-12-22 09:13] Karan11000 commented on #787
I am completely new in open source. can you please guide me.

[2021-12-22 09:39] schmelto commented on #787
Here are some useful links:

* [How to make your first pull request on GitHub](https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/)
* [About issue and pull request templates](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates)

Otherwise feel free to join our [Discord Server](http

[2021-12-22 10:30] Karan11000 commented on #787
I have made the issues and pull request template. How to share it

[2021-12-22 13:20] schmelto commented on #787
First you have to fork and clone this repository and made the changes here. I think you didnt forked it.

Than you can create a Pull Request (PR).

[2021-12-27 17:04] afreenabegum commented on #787
Hi @schmelto
Can I work on this?

Thank you.

[2021-12-28 11:37] nirbhay12345 commented on #787
Hey @afreenabegum
Have you started work on this, if not can I work on this? I am interested in contributing.

Thank you

[2021-12-28 15:27] afreenabegum commented on #787
Hi @nirbhay12345. Thanks for asking. As it is a good first issue I opted this. I am too in learning phase, want to work on this...If am not able to do so ,I will ping you. Hope you will be available.

Thank you.

[2021-12-28 16:01] nirbhay12345 commented on #787
Yeah sounds good 😊
@afreenabegum

[2022-01-03 07:31] afreenabegum commented on #787
Hey @nirbhay12345 .
I am not able to complete this PR within time.I guess it may take long time for me to complete.You can ask the mentor and go for it.

Thanks
Afreena.

[2022-01-03 07:39] nirbhay12345 commented on #787
@schmelto could you assign this to me.
I want to work on this.

[2022-01-12 14:45] nirbhay12345 commented on #787
I won't be able to complete the PR in time.

Thanks

[2022-01-28 18:56] Mohith234 commented on #787
Hey everyone ,
As it is a good first issue I'm interested in contributing to this issue , if no one has been assigned then please let me know !

Thank You

[2022-01-30 06:19] Tiku24 commented on #787
How you made that , can you please tell me?

[2022-02-02 16:03] nirbhay12345 commented on #787
@Mohith234 you can proceed

[2022-02-02 18:07] Panquesito7 commented on #787
Solved by #865.

[2022-02-02 18:07] #787 closed

[2022-02-12 05:23] kni-st opened #904 "[OTHER] <description>"
### What would you like to share?

#Practicing how to create an issue

*please ignore this issue*

* I'm going to contibute to open source next month *
_hello_
`code`

### Additional information

_No response_

[2022-02-12 05:26] kni-st commented on #904
going to start pull request on this ....

[2022-02-12 06:00] krshdev commented on #904
Cool, awesome, feel free ask for any help! :D

[2022-02-14 09:10] #904 closed

[2022-02-28 14:38] KendallDoesCoding opened #953 "[DOCS] Add code of conduct"
### Description

Add COC

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-28 19:43] Ash-KODES commented on #953
Can I take this issue?

[2022-03-01 08:18] KendallDoesCoding commented on #953
I was gonna work on this but yeah sure.

[2022-03-01 20:02] toomsie commented on #680
I suggest looking for a library functions that are used by developers. If you are familiar with programming you would have already used many of them.

[2022-03-02 06:11] krshdev commented on #953
Assigned @Ash-KODES 👍@KendallDoesCoding in the future, if you want to work on a certain issue please comment down or mention that you wanna work on it, so that we can assign you, not really a problem, but it wouldn't be worth it if 2 people did that same work, and we had to close someone's PR even though it was correct.

[2022-03-02 15:53] anthonychinwe opened #961 "[FEATURE] Add SECURITY POLICY file"
### Description

Add a security policy for reporting vulnerabilities. This can be done by creating a `SECURITY.MD` file in the root project directory containing the following text:

- Please do not create GitHub issues for security vulnerabilities.
- Instead, report them via http://eddiejaoude.io/contact

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-02 20:40] toomsie commented on #953
Just looking to se how things are done on Github

[2022-03-03 06:28] krshdev commented on #961
Thanks for the contribution @anthonychinwe 👍 But I am quite not sure if this project needs a Security Policy because this is just an open-source practice repo. I'll still mark this as a "good-first-issue", because having one won't hurt in my opinion.

[2022-03-03 15:10] #953 closed

[2022-03-04 02:47] #961 closed

[2022-03-12 14:17] OkeyChukwude opened #981 "[OTHER] remove stale.yaml"
### What would you like to share?

Delete the file '.github/workflows/stale.yml'

### Additional information

_No response_

[2022-03-18 14:06] arpanaditya opened #991 "[OTHER] Add Profile Arpan Aditya"
### What would you like to share?

Adding my profile in the readme Aditya Arpan Sahoo

### Additional information

Link to my GitHub Profile: https://github.com/arpanaditya

[2022-03-20 01:07] #991 closed

[2022-04-29 11:29] mxnuchim opened #1028 "[OTHER] <description>"
### What would you like to share?

Can’t find a link to the community discord. Help please?

### Additional information

_No response_

[2022-04-29 13:22] schmelto commented on #1028
http://discord.eddiehub.org/

[2022-05-06 06:52] alokVerma749 commented on #981
why you want to delete this file

[2022-05-06 07:34] schmelto commented on #981
@alokVerma749 Stale closes many issues which we still want to keep. For EddieHub afaik we want to go trough open issues manually thats why removing stale.yml is a good option.

[2022-05-08 03:33] #981 closed

[2022-05-08 03:33] schmelto commented on #981
#1041

[2022-07-01 05:33] kabir0x23 opened #1218 "[Incorrect order] - "B" names"
### Description

Some of the "B" names are in the wrong place.
- If new users add their profiles as per the naming conventions and if the previous files have incorrect order and adding new profiles above/below can create issues after some time.

Fix:
- rearrange the order according to their names.

[2022-07-01 05:34] kabir0x23 opened #1219 "[Incorrect order] - "P" names"
### Description

Some of the **P** names are in the wrong order.
- Fix by rearranging the order.

[2022-07-01 05:40] kabir0x23 opened #1221 "[Incorrect Order] - S names"
### Description

Some of the S names are in the incorrect order.

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-01 05:50] kabir0x23 opened #1223 "[Incorrect Order] - V name"
### Description

names are in the incorrect order

Incorrect order:
[code]

Correct order:
[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-01 09:06] #1223 closed

[2022-07-01 09:27] #1221 closed

[2022-07-01 19:32] #1218 closed

[2022-07-01 19:37] #1219 closed

[2022-07-02 15:43] nitishmalang opened #1240 "[OTHER] <description>"
### What would you like to share?

API

### Additional information

_No response_

[2022-07-15 06:17] krishnanshagarwal112 commented on #1240
Please elaborate on the issue nitish

[2022-07-15 22:10] #1240 closed

[2022-07-15 22:10] schmelto commented on #1240
Feel free to reopen and elaborate more about this issue :) closing it for now

[2022-07-16 00:03] nitishmalang commented on #1240
okay close the issue

[2022-07-17 08:01] akashkinkarpandey opened #1307 "[OTHER] <become a member of the organisation>"
### What would you like to share?

Please invite me to the organisation EddieHubCommunity

### Additional information

_No response_

[2022-07-21 09:57] themanoz opened #1324 "Commit Issue"
### What would you like to share?

Hello ,
   I have made a PR and did my commit by adding the name to  https://github.com/EddieHubCommunity/hacktoberfest-practice
but  its still not showing my name over there. I am a completely newbie for the open source and Github, so would you guys like to help me out with this.

![Screenshot (26)](https://user-images.githubusercontent.com/88737234/180185633-44

[2022-07-21 09:57] themanoz commented on #1324
Regarding the commit issue

[2022-07-21 12:09] #1307 closed

[2022-07-21 12:28] schmelto commented on #1324
You need to wait until the changes are merged by a maintainer

[2022-07-21 12:29] schmelto commented on #1324
https://github.com/EddieHubCommunity/hacktoberfest-practice/pull/1323

[2022-07-25 04:58] #1324 closed

[2022-07-25 08:12] themanoz commented on #1324
Thank you for the information and I got it .

[2022-08-01 17:06] RakeshSangem opened #1380 "[FEATURE] add GitPod button to README.md file"
### Description

# Intro
Setting up the project on a local machine is never fun. So I recently learned about GitPod, a pretty great service by GitHub that allows us to work on and contribute to projects directly from the browser.

Therefore, I want to include the GitPod button in this project.

### Screenshots

![ezgif com-gif-maker](https://user-images.githubusercontent.com/107752425/182201188-fe

[2022-08-03 03:48] RakeshSangem commented on #1380
### This problem has been successfully fixed.

[2022-08-03 03:48] #1380 closed

[2022-08-07 13:47] supriya855 opened #1425 "[DOCS] add Supriya Rudroju to README.md"
### Description

 add Supriya Rudroju to README.md

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-07 16:58] #1425 closed

[2022-08-09 19:04] Onyelaudochukwuka opened #1440 "[OTHER] <become organisation member>"
### What would you like to share?

I want to join the organisation but to do that i need to create an issue.

### Additional information

_No response_

[2022-08-09 19:04] #1440 closed

[2022-08-09 19:13] AvidCoder101 commented on #1440
@Onyelaudochukwuka you need to go to EddieHub's support repo to become a part of the organisation :)

[2022-08-09 20:04] Onyelaudochukwuka commented on #1440
Ok thanks, just finished doing that ;)

[2022-08-27 16:16] obi-sammy opened #1608 "[DOCS] make instruction clearer"
### Description

# It looks like two separate steps
I had problem with the instruction because I felt like I had to do two different things and even ended up making a mistake which was communicated to me.

## My suggestion
[code]

### Screenshots

![Screenshot (42)](https://user-images.githubusercontent.com/97705087/187037901-4ec99770-9520-4373-aa1b-e518f6d7dd95.png)

### Additional information

I

[2022-08-28 09:08] schmelto commented on #1608
👌🏼

[2022-08-28 14:57] obi-sammy commented on #1608
I have created the PR and Thanks for assigning this to me.

[2022-08-31 15:08] marcelosousa opened #1627 "[FEATURE] First time contributor GitHub action should be deleted"
### Description

Since Reviewpad is going to run and check if it is a first time contributor we don't need another action to do this.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-02 18:35] satyampsoni commented on #1608
Is anyone working on this issue?
I would like to work on it.

[2022-09-05 04:43] schmelto opened #1656 "Link in GitHub action not working"
### Description

https://github.com/EddieHubCommunity/hacktoberfest-practice/pull/1655#issuecomment-1236520841

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-06 20:06] ojninja16 commented on #1656
I would like to work on it if no one else is ....

[2022-09-06 21:07] Panquesito7 commented on #1656
Sure. Feel free to work on it.
Let us know if you need any help! 🙂

[2022-09-07 12:31] ojninja16 commented on #1656
hey @Panquesito7 could please elaborate what exactly is the issue...

[2022-09-07 14:13] Panquesito7 commented on #1656
In the comment Tom mentioned, the link to EddieHub's Discord isn't clickable and you have to open the link manually.

[2022-09-08 17:40] ShaikMoAbdullah opened #1686 "GitHub Actions Enhancements"
### Description

To add Kubescape actions file to the project

[2022-09-09 20:43] RaheemAmer opened #1701 "[FEATURE] Put names in a details tag"
### Description

Hi, due to the huge amount of names that will be added,
is it a good idea to put them in a `details` tag to make the documentation more readable and easier to navigate to your acronym?

### Example (1)
![image](https://user-images.githubusercontent.com/18606136/189439533-1faa31f6-dc43-440a-b77b-417400a52791.png)

### Example (2)
![image](https://user-images.githubusercontent.com/1

[2022-09-10 08:46] #1686 closed

[2022-09-12 13:55] Nithin108 commented on #1701
I am intrested to work on this can u assign this to me?

[2022-09-12 13:56] Nithin108 commented on #1656
i would like to work on this please assign this to me

[2022-09-14 16:16] ShaikMoAbdullah opened #1743 "GitHub Actions enhancements"
### What would you like to share?

To add kubescape actions file to the project

### Additional information

_No response_

[2022-09-14 16:23] #1743 closed

[2022-09-16 18:31] deepaksirohiwal opened #1758 "[DOCS] Changes in the "Raise a Pull" Request Section"
### Description

As mentioned in the 4th point (Raise a Pull Request)   **Click Pull Requests (which is the third option at the top of this page after the options Code and Issues).**
but after forking the repo ``Pull Requests`` button comes to the second position next to ``code`` and not third, which can become confusing when editing and sending a pull request from the forked repo. We can make som

[2022-09-16 19:39] Panquesito7 commented on #1758
Hey there! Issues are disabled automatically on every fork, and sadly we cannot change that. Only the fork's owner can enable the issues tab. However, that wouldn't be useful as issues usually are not created on forks.

[2022-09-22 03:37] jade-arinal-banares opened #1797 "Naming Convention"
### Description

Hello! I'm confused with the name ordering but it's a convention. < first name followed by last name />

This is just my opinion. No offense. For me, the last name (family name) should place first. You know searching by their last name. It's kinda general when you specify, for example, your <first name/>

But the highlight & main purpose of this hack October fest is to practice yo

[2022-09-22 11:42] schmelto commented on #1797
Yeah in general we follow the convention first name last name due its only for practice as you mentioned I think it does not really matter.

[2022-09-22 12:39] #1797 closed

[2022-09-26 08:02] RaheemAmer commented on #1758
Close #1758

[2022-09-26 13:16] ayushdotdev opened #1850 "Grammatical error"
### Description

Grammatical error
make sure that your name in alphabetical order

solution
"is" was missing
make sure that your name "is" in alphabetical order

### Screenshots

![m](https://user-images.githubusercontent.com/97295627/192285818-7abf8e83-a178-4fb7-94d4-2a9e80b5025a.png)

### Additional information

_No response_

[2022-09-26 13:18] Panquesito7 commented on #1850
Awesome catch. Thanks for reporting!
Would you like to work on this or let others work on it? 🙂

[2022-09-26 13:22] mkubdev commented on #1850
Hello! Look like #1848 already fixes this issue. 🙂

[2022-09-26 14:55] #1850 closed

[2022-09-28 10:51] E-fais commented on #1608
is that 'then' necessary?
here is my suggestion..
'Add your name to the section that matches your Initial in [this list].  Make sure your name is in alphabetical order. Then save your changes.'

[2022-09-28 16:40] maharshi-sinha commented on #1656
already fixed and merged I guess #1655, should we close this issue now?

[2022-09-29 00:16] #1701 closed

[2022-09-30 16:38] #1758 closed

[2022-10-01 11:08] Stevecmd opened #1962 "Onboarding-First commit (ReadMe file)"
### Description

The steps to fork the GitHub repo and make the first commit may need a review as the steps particularly after editing the ReadMe may need to be updated. The pull request procedure is slightly different from that described in the instructions.

### Screenshots

_No response_

### Additional information

Its mostly a convenience bug, for those who perform the pull request online.

[2022-10-01 15:31] farhandotdev opened #1969 "[DOCS] <description>"
### Description

Updating the readme file to minimise and to less line of code for better user experience.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-01 16:05] krshkodes commented on #1969
Didn't understand, can you elaborate?

[2022-10-02 04:33] Panquesito7 commented on #1656
Hmm, this issue hasn't been fixed yet, though.
https://github.com/EddieHubCommunity/hacktoberfest-practice/pull/1972#issuecomment-1264542802

[2022-10-02 13:41] Nithin108 commented on #1656
Can u provide a screenshot please

[2022-10-02 16:34] dorf8839 opened #1981 "[IDEA] Implement Collapsible Dropdowns Instead of a ToC for Member Names"
### Description

Scrolling through the list of names in the readme can be cumbersome.  The implementation of a table of contents is a good first step to help get to name faster but it still leaves the need to scroll up through the entire list of names to get back.

I believe a cleaner UX for this list would be to utilize collapsible sections for each letter.  This could also eliminate the need for

[2022-10-04 07:47] mkubdev commented on #1981
Hello @dorf8839 :wave:

It's a good idea to have thought of this markdown feature.

I understand that the UX will be better, but I think it's better for the community to keep the display of all names on the README, so we can see other contributors' names in scrolling. 🙂 I like the list displayed and not hidden.

[2022-10-04 12:54] Stevecmd commented on #1962
Thank you! I did join the discord...

[2022-10-06 16:03] Bhavya1912 opened #2033 "[DOCS] Correcting some mistakes in Readme.Md"
### Description

There are some grammatical mistakes in the readme.md file I may correct them

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-07 01:00] RakeshSangem commented on #2033
Thank you for raising this issue, @Bhavya1912. But could you provide more context for the issues? Or do you prefer to work on it? Both are helpful.

Thanks.

[2022-10-07 01:01] RakeshSangem commented on #1981
@Pradumnasaraf take a look in into it.

[2022-10-07 04:24] Bhavya1912 commented on #2033
I would like to work on it

[2022-10-07 04:47] RakeshSangem commented on #2033
Assigned ✅

[2022-10-07 07:59] Bhavya1912 commented on #2033
https://github.com/EddieHubCommunity/hacktoberfest-practice/pull/2037
@RakeshSangem

[2022-10-07 16:46] Pradumnasaraf commented on #1981
@mkubdev answered it pretty well, thank you

[2022-10-07 20:20] #2033 closed

[2022-10-08 15:27] RaheemAmer commented on #1969
Duplicate of #1981

[2022-10-13 14:59] farhandotdev opened #2074 "[DOCS] <description> unable to render code block"
### Description

sometime unable to render code block in the readme file

### Screenshots

![Screenshot from 2022-10-13 20-22-52](https://user-images.githubusercontent.com/108146290/195632879-97a5b55a-2ad4-49d2-8291-d8ad80f39339.png)

### Additional information

_No response_

[2022-10-13 18:13] asdsyd commented on #2074
Can I work on this issue? Thanks. Please add hacktoberfest label

[2022-10-13 18:44] farhandotdev commented on #2074
This repo is not listed in hacktoberfest event. It is just for practice only!

[2022-10-13 18:44] farhandotdev commented on #2074
Yup!, you can work to fix the issue.

[2022-10-13 18:55] asdsyd commented on #2074
I have created a repo 'Healthy Developer' . Please checkout and contribute for hacktoberfest.

[2022-10-13 18:59] farhandotdev commented on #2074
can we talk what exactly healthy developer project do

[2022-10-13 19:04] asdsyd commented on #2074
Its aimed at being an open sourced website that includes good healthy and productive practices for a beginner developer. Its set of tips and suggestions like why coffee? how much is optimum? good sitting postures. time management in issues and PR. etc

[2022-10-13 19:05] asdsyd commented on #2074
In this way beginner devs can also help build the website and be part of learning open source contribution and hacktoberfest.

[2022-10-14 17:02] RKC3000 commented on #1627
I want to work on this issue.
Can you assign it to me and tell me, what exactly the issue is

[2022-10-24 20:38] mathcodes commented on #1969
I can tackle this or #1981

[2022-10-26 18:13] Panquesito7 opened #2140 "[BUG] Duplicated name entry"
### Description

There's a duplicated name entry that should be removed, on line 1581.

https://github.com/EddieHubCommunity/hacktoberfest-practice/blob/9dd7b0d1d881fbcbf195d6c83cb334c075141b60/README.md?plain=1#L1581-L1582

This should be fixed immediately.

### Screenshots

_No response_

### Additional information

This is a good first issue. Please leave it open to first-time contributors and

[2022-10-27 20:54] sanajitjana commented on #2140
@Panquesito7
Require changes already done👍

Note: Thanks for giving a chance to a beginner.

[2022-10-28 04:31] #2140 closed

[2022-11-08 16:31] adityasimant opened #2182 "[DOCS] Name mispelled."
### Description

Want to edit name that has been misspelled in Readme

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-08 16:34] Panquesito7 commented on #2182
Hello! Could you specify the misspelled name/line, please?

[2022-11-08 16:44] adityasimant commented on #2182
Readme.md :
line 252, Its "Adityasimant".

[2022-11-08 17:04] #2182 closed

[2022-11-21 07:16] Pradumnasaraf commented on #1608
Already fixed

[2022-11-21 07:16] #1608 closed

[2022-11-21 07:17] Pradumnasaraf commented on #1627
Thank you, Issue is now fixed

[2022-11-21 07:17] #1627 closed

[2022-11-21 07:18] Pradumnasaraf commented on #1656
Already fixed

[2022-11-21 07:18] #1656 closed

[2022-11-21 07:19] Pradumnasaraf commented on #1969
Duplicate issue #1981

[2022-11-21 07:19] #1969 closed

[2022-11-21 07:20] Pradumnasaraf commented on #1981
Closing this PR. As the justification is already made

[2022-11-21 07:20] #1981 closed

[2022-11-26 16:18] #2074 closed

[2022-11-29 07:01] yrncollo commented on #1962
As for me I am seeing it is fine. Would you mind giving more explanation about how it is slightly different and what has been left out.

[2022-11-29 17:53] krupalitrivedi commented on #1962
@Stevecmd Greetings! Thank you so much for the issue. As per the issue, could you please specify where exactly you want the change and what are you talking about? It can help if you can maybe provide some more explanation about the same.

[2022-11-29 17:57] Stevecmd commented on #1962
Hi, thanks for reviewing my PR, kindly give me some time to go through it
afresh and get back to you.
Thanks.

On Tue, Nov 29, 2022, 20:53 Krupali Trivedi ***@***.***>
wrote:

[2022-11-29 18:00] Stevecmd commented on #1962
Hi, seems I lost my train of thought on the issue, kindly disregard my
Commit. Apologies for the mistake.

On Tue, Nov 29, 2022, 20:57 Steve Murimi ***@***.***> wrote:

[2022-11-29 18:03] krupalitrivedi commented on #1962
@Stevecmd Do not worry about it at all! It is nothing to apologize for! We are grateful that you could find or can possibly suggest some enhancements for the project! Do let us know if you need any helP!

[2022-11-29 18:05] Stevecmd commented on #1962
Allright, thanks!

On Tue, Nov 29, 2022, 21:03 Krupali Trivedi ***@***.***>
wrote: